@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}

<script src="/Content/javascripts/jquery.min.js"></script>
<script src="/Content/javascripts/bootstrap.min.js"></script>
<link href="/Content/stylesheets/bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
